h1{
    color: white;

}


body{
    background-color: rgb(52, 3, 3);
    color: white;
    font-family: georgia;
}   

.jumbotron{
    background-color: rgb(160, 93, 93);
}

.col-sm{
    
    margin-bottom: 20px;
}

.card-body{
    color:rgb(52, 3, 3);
}

.btn {
    background-color: crimson;
    border-color: crimson;
}