h1{
    color: white;

}

img {
    display: inline-block;
    position: top;

}

body{
    background-color: rgb(52, 3, 3);
    font color: white;
    font-family: georgia;
}   

.jumbotron{
    background-color: rgb(160, 93, 93);
}