h1, h2, h3, h6{
    color: white;
    margin-bottom: 35px;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}


.navbar-brand{
    font-style: italic;
}
  

body{
    background-color: rgb(52, 3, 3);
    color: white;
    font-family: georgia;
}   

.jumbotron{
    background-color: rgb(160, 93, 93);
    height: 250px;
}

.col-sm{
    
    margin-bottom: 20px;
}

.card-body{
    color:rgb(52, 3, 3);
    
}

#aboutme p{
    font-size: 0.75em;
}

#contactme{
    font-size:3em;

}

#contact {
    background-color: rgb(160, 93, 93);
}
h6 {
    background-color: rgb(160, 93, 93);
    text-align: center;
    font-size: .9em;
}

.btn {
    background-color: crimson;
    border-color: crimson;
}

.footer{
    background-color: rgb(52, 3, 3);
    text-align: right;
    margin: 10px;
    padding: 10px;
  }